<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Copio il link di font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Inserisco il link di Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Definisco il title -->
    <title>Boolzapp</title>

    <!-- Inserisco il logo di whtsapp -->
    <link rel="icon" href="img/logowhatsapp.png">

    <!-- Collego il foglio di stile  -->
    <link rel="stylesheet" href="style.css">
</head>

<!-- BODY -->

<body>
    <!-- Creo il container sul quale monterò il createApp -->
    <div id="app" class="container-fluid">

        <!-- Green-row -->
        <div class="row" id="green-row"></div>

        <!-- SCREEN -->
        <div class="container-lg" id="screen">

            <!-- COLONNA CONTATTI -->
            <div class="col-contatti">

                <!-- Definisco la riga MIOUTENTE -->
                <div class="mioUtente">
                    <div class="utente">
                        <img :src="contacts[0].avatar" alt="Manuel Immagine">
                        <span class="name">{{contacts[0].name}}</span>
                    </div>

                    <div class="utenteChat">
                        <i class="fa-sharp fa-solid fa-spinner"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>

                <!-- Definisco la riga del BUNNER -->
                <div class="bunner">

                    <!-- Simbolo campana -->
                    <span class="symbol"><i class="fa-regular fa-bell-slash"></i></span>

                    <!-- Frasi bunner -->
                    <div>
                        <div class="name">Ricevi notifiche di nuovi messaggi</div>
                        <div class="description">Attiva notifiche desktop</div>
                    </div>
                </div>

                <!-- Definisco la barra di ricerca FINDBAR -->
                <div class="findbar">
                    <form class="d-flex" role="search">

                        <button class="btn bg-white" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                        <input class="form-control me-2" type="search" placeholder="Cerca o inizia una nuova chat"
                            aria-label="Search" v-model="searchQuery">
                    </form>
                </div>

                <!-- Definisco la parte dei contatti CONTACT-CHAT -->
                <div class="contact-chat">
                    <div class="chatUtente" v-for="(contact,index) in contacts" :key="contact.name"
                        @click="selectContact(contact), avatarClickedChat = contact.avatar, nameClickedChat = contact.name" v-if="index !== 0" v-show="index !== 0 && contact.name.includes(searchQuery)">

                        <div class="utente">

                            <!-- Inserisco l'immagine dell'avatar-->
                            <img :src="contact.avatar" :alt="contact.name" />

                            <!-- Creo il div con nome e frase -->
                            <div>
                                <span>{{ contact.name }}</span>
                                <div class="light"> Ultimo messaggio inviato</div>
                            </div> 
                        </div>

                        <!-- Creo il div con la data finale richiamando la funzione getLastMessageDate(contact) -->
                        <div class="light-top">{{ getLastMessageTime(contact) }}</div>
                    </div>
                </div>
            </div>




            <!-- COLONNA CHAT -->
            <div class="col-chat">
                <!-- Definisco la riga UTENTECHAT -->
                <div class="mioUtente">
                    <div class="utenteChat" v-if="avatarClickedChat==='' && nameClickedChat === '' ">
                        <img :src="contacts[1].avatar" alt="chat Immagine">
                        <span class="name">{{contacts[1].name}}</span>
                    </div>

                    <div class="utenteChat"  v-if="avatarClickedChat !=='' && nameClickedChat !== '' " >
                        <img :src="avatarClickedChat" alt="chat Immagine">
                        <span class="name">{{nameClickedChat}}</span>
                    </div>

                    <div class="utenteChat">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>

                <!-- Definisco la CHAT -->

                <!-- Inizializzo caricando subito i messaggi della chat in posizione 1, la prima è la mia quindi la escludo -->
                <div class="chat">

                    <div v-if="selectedContact == null">
                        <div v-for="message in contacts[1].messages" :key="message.date"
                            :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                            <span class="message"> {{ message.message }}</span>
                            <span class="date"> {{ message.date }}</span>
                        </div>
                    </div>

                    <!-- Utilizzo le proprietà date dalla funzione selectContact(contact) per visualizzare i messaggi del contatto selezionato -->
                    <div v-if="selectedContact" class="chatContainer">
                        <div v-for="message in selectedContact.messages" :key="message.date"
                            :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                            <div class="message">{{ message.message }}</div>
                            <span class="date">{{ message.date }}</span>

                        </div>
                    </div>

                </div>

                <!-- Definisco la barra per scrivere -->
                <div class="writeChat">

                    <div class="emoji-picker">
                        <i class="fa-regular fa-face-smile" @click="toggleEmojiPicker"></i>

                        <div v-if="showEmojiPicker" class="emoji-container">
                            <button v-for="emoji in emojiList" :key="emoji"
                                @click="insertEmoji(emoji)">{{emoji}}</button>
                        </div>
                    </div>

                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            placeholder="Scrivi un messaggio" aria-describedby="inputGroup-sizing-sm"
                            v-model="inputText" @keyup.enter="sendMessage">
                    </div>

                    <i class="fa-solid fa-microphone"></i>

                </div>
            </div>
        </div>
    </div>

    <!-- Inserisco i collegamenti vue e il file js -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
</body>

</html>



