<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Copio il link di font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Inserisco il link di Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Definisco il title -->
    <title>Boolzapp</title>

    <!-- Collego il foglio di stile  -->
    <link rel="stylesheet" href="style.css">
</head>

<!-- BODY -->
<body>
     <!-- Creo il container sul quale monterò il createApp -->
     <div id="app" class="container-fluid">

        <!-- Green-row -->
        <div class="row" id="green-row"></div>

        <!-- SCREEN -->
        <div class="container-lg" id="screen">

            <!-- COLONNA CONTATTI -->
            <div class="col-contatti">

                <!-- Definisco la riga MIOUTENTE -->
                <div class="mioUtente">
                    <div class="utente">
                        <img :src="contacts[0].avatar" alt="Manuel Immagine">
                        <span class="name">{{contacts[0].name}}</span>
                    </div>

                    <div class="utente">
                        <i class="fa-sharp fa-solid fa-spinner"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-list"></i>
                    </div>
                </div>

                <!-- Definisco la riga del BUNNER -->
                <div class="bunner">

                    <!-- Simbolo campana -->
                    <span class="symbol"><i class="fa-regular fa-bell-slash"></i></span>

                    <!-- Frasi bunner -->
                    <div>
                        <div class="name">Ricevi notifiche di nuovi messaggi</div>
                        <div class="description">Attiva notifiche desktop</div>
                    </div>
                </div>

                <!-- Definisco la barra di ricerca FINDBAR -->
                <div class="findbar">
                    <form class="d-flex" role="search">
                        <button class="btn bg-white" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="form-control me-2" type="search" placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                      </form>
                </div>

                <!-- Definisco la parte dei contatti CONTACT-CHAT -->
                <div class="contact-chat">
                    <div class="chatUtente" v-for="(item,index) in contacts">
                        <div class="utente"  v-if="index !== 0">
                            <img :src="item.avatar" alt="{{item.name}} Immagine">
                            <span class="name">{{item.name}}</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- COLONNA CHAT -->
            <div class="col-chat">
                ciso


            </div>

        
        </div>


    </div>

    <!-- Inserisco i collegamenti vue e il file js -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>

</body>

</html>