/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: lightgrey;
}

.container-fluid{
    position: relative;
}

#green-row{
    height: 20vh;
    background-color: lightseagreen;
}

/* Inserisco le classi utili in tutta la pagina */

.symbol{
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    background-color:white ;
    color:lightskyblue ;
}

.name{
    color: black;
    font-size: 14px;
}

.description{
    color: grey;
    font-size: 12px;
    text-decoration: underline;
}

/* Definisco lo screen */
#screen{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 100;
    padding: 0;
}

/* Definisco la prima macro sezione dello screen */
.col-contatti{
    width: 35%;
    background-color: red;
}

/* Inserisco la riga MIOUTENTE */
.mioUtente{
    height: 70px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    width: 40%;
    margin: 0 10px;
    font-weight: 500;
}

.utente span{
    width: 70%;
}


.utente img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.utente i{
    font-size: 25px;
    color: grey;
}

/* Inserisco la riga BUNNER */
.bunner{
    height: 70px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bunner i{
  font-size: 18px;
  font-weight: 800;
}

/* Inserisco la FINDBAR */
.findbar{
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 5px;
}

.findbar form{
    border: 2px solid lightgrey;
    border-radius: 6px;
}

.findbar input{
    height: 40px;
    width: 300px;
    border: 0;
    font-size: 12px;
}

/* Inserisco la CONTACT-CHAT */
.contact-chat{
    height: calc(100% - 70px - 70px - 50px);
    overflow-y: scroll;
}

.chatUtente{
    padding: 10px 0;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/* Definisco la seconda macro sezione dello screen */
.col-chat{
    width: 65%;
    background-color: yellow;
}

